#Lavender_Video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.contenido {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
    margin-top: 30vh;
    font-family: Arial, sans-serif;
}